@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<div class="text-center">

<h1>Lab 4 Home Page</h1>
<p>Sport Club Sign Up Website</p>
<p>Create your Club or get your Fan id by accessing the required page</p>
<br>
    This site belongs to Daniel Ola-Peters.<br />
    I am a Level 5 CET-CS student at algonquin college, an International student from nigeria that is into sport activities like basketball, soccer and wrestling. I find computer programs interesting but mechanical engineering/programming is my estranged love.<br>
    Using .Net Enterprise application development I am looking to learn how to keep creating maintainable and scalable applications developed with high efficiency.<br><br />
</div>