
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<h1>Lab 3 Home Page</h1>
<p>Navigate to your page of choice</p>
<a href="https://github.com/DanielOlaPeters/.Net">Private Github repo</a>
<br>